.App {
  position: relative;
}

.App-container {
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.App-result {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  overflow: hidden;
  font-size: 34px;
  white-space: nowrap;
  padding: 10px;
  border: 1px solid grey;
}

.App-keyboard {
  border: 1px solid grey;
  padding: 15px;
}
